{% extends "AppCoder/postPadre.html" %}

{% load humanize %}

{% block postPadre %}
<p><h4>{{detallePost.titulo}}</h4></p>

{% if detallePost.imagen %}
    <p><img class="imagenPost" src="{{detallePost.imagen.url}}" alt=""></p>
{% endif %}
<p>Genero: {{detallePost.genero}}</p>
<p>Año: {{detallePost.anio}}</p>
<p class="cuadro-texto post">{{detallePost.content}}</p>
<button type="button" class="btn btn-outline-primary btn-sm"><a href="{% url 'Posteos' %}" style="color: white; text-decoration: none;">Regresar</a></button>
<br>
<br>
<button type="submit" class="botonform"><a href="{% url 'comentario' detallePost.pk %}" style="color: white; text-decoration: none;">Comentar</a></button>
{% if not detallePost.comentarios.all %}
<p style="padding: 30px; align-items: right; margin-top: 5px;"><strong>No hay comentarios</strong></p>
{% else %}
    {% for c in detallePost.comentarios.all %}
    <div class="raya container-article">
        <a href="{{ c.user.avatar.imagen.url }}" target="_blank"></a>
        <img src="{{ c.user.avatar.imagen.url }}">
        <div>
            <h2 class="username">@{{ c.user.username }}</h2>
            <i class="clock"></i>
            <time data-time="#">{{ c.timecoment|naturaltime }}</time>
            <div class="cuadro-texto"><div class="post" >{{ c.mensaje }}</div></div>                                    
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}