{% extends "AppCoder/postPadre.html" %}

{% block postTitulo %}
Resultado de Busqueda
{% endblock %}

{% block postPadre %}
    {% for peli in pelis %}
        <p><h4>{{peli.titulo}}</h4></p>
        {% if peli.imagen %}
            <p><img class="imagenPost" src="{{peli.imagen.url}}" alt="No Hay imagen"></p>
        {% endif %}
        <p>Genero: {{peli.genero}}</p>
        <p>Año: {{peli.anio}}</p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary btn-sm"><a href="{% url 'Posteos' %}" style="color: white; text-decoration: none;">Regresar</a></button>
        </div>
    {% endfor %}
{% endblock %}